.list .action {
  cursor: pointer;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.table{
  --bs-table-hover-color: black;
  --bs-table-hover-bg: #1686f56b;
}